/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/* Nav Bar */
.navbar {
  border-radius: 0;
}

/* Auth Panel */

.auth-pane {
  height: 100%;
  border-radius: 6px;
  background: #fff;
  position: relative;
  text-align: center;
  cursor: default;
}

.auth-content {
  padding: 20px;
  box-sizing: border-box;
}

.auth-submit {
  border: 0;
  padding: 14px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgb(234, 83, 35);
}

.auth-tab {
  border-radius: 6px 6px 0px 0px;
  background: #fff;
  padding: 0;
  margin: 0;
  font-size: 13px;
  letter-spacing: 0.7px;
  box-shadow: 0 1px 0 0 rgba(92,102,111,0.2);
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: stretch;
  align-items: stretch;

  li {
    width: 50%;
    display: block;
    list-style: none;
    float: left;
    margin: 0;
    text-align: center;
    padding: 11px 10px;
    display: block;
    text-decoration: none;
    font-weight: 500;
  }
}

li.current-tab {
  box-shadow: 0 1px 0 0 #5c666f;
  color: #5c666f
}

.auth-oauth {
  height: 40px;
}

.oauth-button {
  display: block;
  margin: 10px 0 0;
  width: 100%;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  height: 40px;
  background-color: #4285f4;
}

.oauth-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
}

.oauth-button-text {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 100%;
  padding-left: 54px;
  padding-right: 15px;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #fff;
  white-space: nowrap;
}

.twitter-icon {
  background-color: rgba(0,0,0,0.3);
  background-image: url('../images/twitter-letter-logo.png');
  // Icons made by http://www.flaticon.com/authors/simpleicon
}

.auth-seperator {
  color: black;
  font-size: 13px;
  line-height: 1.8;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-wrapper {
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  position: relative;
  background: #f1f1f1;
  padding-left: 40px;
  margin-bottom: 10px;
  position: relative;
}

.auth-input {
  border: 0;
  padding: 0 14px;
  right: 0;
  height: 40px;
  font-size: 13px;
  width: 100%;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;
  position: relative;
  color: rgba(0,0,0,0.87);
  overflow: visible;
}

.input-icon {
  position: absolute;
  font-size: 12px;
  top: 13px;
  left: 14px;
  background-color: transparent;
  width: 14px;
}

/* event */

.loading-img {
  width: 15%;
}

/* others */
.oauth-button,input,a:focus {
  outline:none;
}
